/*universal selector*/
*{
	font-family: "verdana", sans-serif;
	font-size: 20px; 
}

/*class selector*/
.external-p{
	color:#76E7CD;
}

/*type selector*/
h1{
	font-size: 45px;
}

/*id selector*/
#uppercase{
	text-transform: uppercase;
}

/*class selector*/
.lang-color{
	background-color:#BCD2EE;
}

/*attribute selector*/
li[target="_blank"]{
	border: 2px solid #DA1A77;
}

/*adjacent sibling selector*/
ul + img{
	list-style-type: none;
}

/*descendant selector*/
img{
	height: 150px;
	width: 150px;
	border-radius: 100px;
}

/*generic sibling selector*/
h4 ~ p{
	text-align: center;
	
}

/*child selector*/
body > section > ul {
	letter-spacing: 10px;
}
